# DATA INGESTION

In [129]:
import boto3
s3_client = boto3.client('s3')
bucket_name= 'aws-a9097-use1-00-d-s3b-shrd-shr-data01'
IAM_ROLE='aws-a9097-use1-00-d-rol-shrd-shr-usr01'
check_response= s3_client.list_buckets();
print(check_response)

{'ResponseMetadata': {'RequestId': 'PP9JNN180J1KB0TY', 'HostId': 'xEkh8KozQOpI+0HXedpKo4TLEdAAlV/sqO/2z1uxt40t+7tXij8ZLH9vUvKdxWwx9N+Gx6+jiXM=', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': 'xEkh8KozQOpI+0HXedpKo4TLEdAAlV/sqO/2z1uxt40t+7tXij8ZLH9vUvKdxWwx9N+Gx6+jiXM=', 'x-amz-request-id': 'PP9JNN180J1KB0TY', 'date': 'Tue, 18 Feb 2025 03:52:48 GMT', 'content-type': 'application/xml', 'transfer-encoding': 'chunked', 'server': 'AmazonS3'}, 'RetryAttempts': 0}, 'Buckets': [{'Name': 'aws-a9097-use1-00-d-s3b-shrd-shr-data01', 'CreationDate': datetime.datetime(2024, 8, 6, 8, 41, 20, tzinfo=tzlocal())}, {'Name': 'cf-templates-1jlshq8udppq6-us-east-1', 'CreationDate': datetime.datetime(2024, 8, 1, 10, 43, 34, tzinfo=tzlocal())}], 'Owner': {'DisplayName': 'aws.a9097', 'ID': '6d9499ce97be2b4c12d262e50a6c0e45aa4f21142385c704f4dffe905958950b'}}

In [131]:
files_list= ['GeoHiery.txt' , 'MarketDefinition.txt' , 'Prescriber.txt' , 'PrescriberAddress.txt' , 'ProductMaster.txt' , 'Sales.txt' , 'Zip_To_Terr.txt']

#Files to S3 
for file in files_list:
    s3_client.upload_file(file, bucket_name , f'raw/{file}')

# EXTRACTION

In [158]:
import pandas as pd


for file in files_list:
    s3_file= f's3://{bucket_name}/raw/{file}'
    df = pd.read_csv(s3_file, delimiter='|')
    print(df.head())

   GEO_CODE    GEO_NAME GEO_LEVEL PARENT_ID
0  T-111100      Acampo      TERR  D-111000
1  D-111000  District 1      DIST  R-110000
2  R-110000          CA      REGN  N-100000
3  N-100000         USA    NATION         -
4  T-111200       Acton      TERR  D-111000
  MKT_CD          MKT_NM
0  M-001    NEUROSCIENCE
1  M-002        VIROLOGY
2  M-003      IMMUNOLOGY
3  M-004      HEMATOLOGY
4  M-005  CARDIOVASCULAR
  Prescriber_ID FIRST_NAME  LAST_NAME         PREFFERED_NAME  GENDER  EMAIL  \
0      ST_00001   SOONTORN  THRUPKAEW     SOONTORN THRUPKAEW     NaN    NaN
1      RB_00002     ROBERT      BRYAN           ROBERT BRYAN     NaN    NaN
2      JC_00003       JOHN     CARTER  JOHN JEFFERSON CARTER     NaN    NaN
3      TK_00004   THEODORE   KIRKLAND    THEODORE N KIRKLAND     NaN    NaN
4      TC_00005        TOM   CALDWELL           TOM CALDWELL     NaN    NaN

   PERSON_SPECIALTY
0  GastroEnterology
1         NeuroLogy
2       Dermatology
3         NeuroLogy
4        Psychiatry
  PERSON_CODE              ADDRESS_1  ADDRESS_2    CITY STATE  ZIP_CODE
0    ST_00001           1 BAYLOR PLZ        NaN  Acampo    CA         1
1    RB_00002           1 BETHANY RD        NaN  Acampo    CA         2
2    JC_00003  1 BETHANY RD SUITE 11        NaN  Acampo    CA         3
3    TK_00004   1 BETHANY RD SUITE 3        NaN  Acampo    CA         4
4    TC_00005  1 BETHANY RD SUITE 35        NaN  Acampo    CA         5
  MARKET_CD  PRD_PACK_ID    PRODUCT_NAME STRENGTH  BRAND_ID Brand Name  \
0     M-001      1001001  ATRIPXEN 350mg    350mg      1001  ATRIPIXEN
1     M-001      1001002  ATRIPXEN 500mg    500mg      1001  ATRIPIXEN
2     M-001      1002001     BRUFEN 50mg     50mg      1002     BRUFEN
3     M-001      1002002    BRUFEN 100mg    100mg      1002     BRUFEN
4     M-001      1003001  CLOPIGEL 100mg    100mg      1003   CLOPIGEL

     PROD_MNF
0  ABC_Pharma
1  ABC_Pharma
2  DEF_Pharma
3  DEF_Pharma
4  GHI_Pharma
    PSBR_ID  PROD_ID  MONTH_1_NRX_UNIT  MONTH_2_NRX_UNIT  MONTH_3_NRX_UNIT  \
0  ST_00001  1003002                 3                 8                 7
1  RB_00002  1002001                 9                 8                 7
2  JC_00003  1007002                 7                 1                 3
3  TK_00004  1010001                 6                 3                 5
4  TC_00005  1010001                 9                 7                 6

   MONTH_4_NRX_UNIT  MONTH_5_NRX_UNIT  MONTH_6_NRX_UNIT  MONTH_7_NRX_UNIT  \
0                 6                 6                 9                 3
1                 8                 3                 2                 4
2                 1                 9                 9                 8
3                 2                 2                 3                 4
4                 6                 1                 5                 2

   MONTH_8_NRX_UNIT  ...  MONTH_3_TRX_DOLLAR  MONTH_4_TRX_DOLLAR  \
0                 3  ...                 880                4200
1                 3  ...                1440                 640
2                 2  ...                2046                 726
3                 7  ...                2856                1260
4                 2  ...                2352                1638

   MONTH_5_TRX_DOLLAR  MONTH_6_TRX_DOLLAR  MONTH_7_TRX_DOLLAR  \
0                 480                2600                2240
1                1920                1000                1080
2                1188                3729                2244
3                1218                1008                3150
4                1134                2352                 462

   MONTH_8_TRX_DOLLAR  MONTH_9_TRX_DOLLAR  MONTH_10_TRX_DOLLAR  \
0                2920                 560                 2680
1                2960                3960                 3320
2                2475                 693                 1089
3                4998                2352                 1638
4                1764                1218                 2730

   MONTH_11_TRX_DOLLAR  MONTH_12_TRX_DOLLAR
0                  800                  400
1                  880                 1960
2                 2310                 3069
3                 2310                 1680
4                 1638                 1932

[5 rows x 110 columns]
   ZIP_Code Territory_ID
0         1     T-111100
1         2     T-111100
2         3     T-111100
3         4     T-111100
4         5     T-111100

REDSHIFT CONNECTION

In [262]:
import psycopg2

# REDSHIFT CREDS
REDSHIFT_HOST = 'aws-a9097-use1-00-d-red-shrd-shr-red01.ca3wdeu8uqbl.us-east-1.redshift.amazonaws.com'
REDSHIFT_DB = 'dev'
REDSHIFT_USER = 'group1user'
REDSHIFT_PORT = '5439'
REDSHIFT_PASSWORD = 'Group1pass'
conn = psycopg2.connect(dbname= REDSHIFT_DB,
                       user=REDSHIFT_USER,
                       password=REDSHIFT_PASSWORD,
                       host=REDSHIFT_HOST,
                        port=REDSHIFT_PORT
                       )
cursor = conn.cursor();
cursor.execute("SELECT current_date")
print('REDSHIFT CREDS LOADED SUCESSFULLY')

REDSHIFT CREDS LOADED SUCESSFULLY

# CREATE AND COPY TO BASE

In [170]:
sql1 = '''CREATE TABLE IF NOT EXISTS bs_grp1_person_profile(
    Prescriber_ID VARCHAR(50),
    FIRST_NAME VARCHAR(100),
    LAST_NAME VARCHAR(100),
    PREFFERED_NAME VARCHAR(100),
    GENDER VARCHAR(10),
    EMAIL VARCHAR(100),
    PERSON_SPECIALTY VARCHAR(100)
);'''

# Rollback any previous failed transaction
conn.rollback()

# Execute the CREATE TABLE statement
cursor.execute(sql1)
conn.commit()

In [171]:
sql2 = '''
COPY bs_grp1_person_profile
FROM 's3://aws-a9097-use1-00-d-s3b-shrd-shr-data01/raw/Prescriber.txt'
DELIMITER '|'
IGNOREHEADER 1
REMOVEQUOTES
EMPTYASNULL
IAM_ROLE 'arn:aws:iam::014498666895:role/service-role/AmazonRedshift-CommandsAccessRole-20240806T150642'
;
'''


# Rollback any previous failed transaction
conn.rollback()

# Execute the CREATE TABLE statement
cursor.execute(sql2)
conn.commit()

In [172]:
sql_create = '''CREATE TABLE IF NOT EXISTS bs_grp1_prod_master(
    MARKET_CD VARCHAR(10),
    PRD_PACK_ID VARCHAR(50),
    PRODUCT_NAME VARCHAR(200),
    IMS_STRENG_TH_LEVEL VARCHAR(50),
    BRAND_ID VARCHAR(50),
    BRAND_NAME VARCHAR(100),
    PROD_MNF VARCHAR(100)
);'''

# Rollback any previous failed transaction
conn.rollback()

# Execute the CREATE TABLE statement
cursor.execute(sql_create)
conn.commit()
print("Successfully created prod_master")

sql_copy = '''
COPY bs_grp1_prod_master
FROM 's3://aws-a9097-use1-00-d-s3b-shrd-shr-data01/raw/ProductMaster.txt'
DELIMITER '|'
IGNOREHEADER 1
REMOVEQUOTES
EMPTYASNULL
IAM_ROLE 'arn:aws:iam::014498666895:role/service-role/AmazonRedshift-CommandsAccessRole-20240806T150642'
;
'''


# Rollback any previous failed transaction
conn.rollback()

# Execute the CREATE TABLE statement
cursor.execute(sql_copy)
conn.commit()
print("Data loaded in table")

Successfully created prod_master
Data loaded in table

In [173]:
#create_person_address
sql_create = """
CREATE TABLE IF NOT EXISTS bs_grp1_person_address (
    PERSON_CODE VARCHAR(50),
    ADDRESS_1 VARCHAR(200),
    ADDRESS_2 VARCHAR(200),
    CITY VARCHAR(100),
    STATE VARCHAR(50),
    ZIP_CODE VARCHAR(10)
);
"""
conn.rollback()
cursor.execute(sql_create)
conn.commit()
print("Created table bs_grp1_person_address successfully!")

# COPY FROM S3
sql_copy = """
COPY bs_grp1_person_address
FROM 's3://aws-a9097-use1-00-d-s3b-shrd-shr-data01/raw/PrescriberAddress.txt'
DELIMITER '|'
IGNOREHEADER 1
EMPTYASNULL
BLANKSASNULL
IAM_ROLE 'arn:aws:iam::014498666895:role/service-role/AmazonRedshift-CommandsAccessRole-20240806T150642';
"""
conn.rollback()
cursor.execute(sql_copy)
conn.commit()
print("Data loaded into bs_grp1_person_address from S3!")

Created table bs_grp1_person_address successfully!
Data loaded into bs_grp1_person_address from S3!

In [174]:
# CREATE TABLE_geo_hierachy
sql_create = """
CREATE TABLE IF NOT EXISTS bs_grp1_geo_hierarchy (
    GEO_CODE   VARCHAR(50),
    GEO_NAME   VARCHAR(100),
    GEO_LEVEL  VARCHAR(20),
    PARENT_ID  VARCHAR(50)
);
"""
conn.rollback()
cursor.execute(sql_create)
conn.commit()
print("Created table bs_grp1_geo_hierarchy successfully!")
# COPY
sql_copy = """
COPY bs_grp1_geo_hierarchy
FROM 's3://aws-a9097-use1-00-d-s3b-shrd-shr-data01/raw/GeoHiery.txt'
DELIMITER '|'
IGNOREHEADER 1
REMOVEQUOTES
EMPTYASNULL
BLANKSASNULL
IAM_ROLE 'arn:aws:iam::014498666895:role/service-role/AmazonRedshift-CommandsAccessRole-20240806T150642';
"""
conn.rollback()
cursor.execute(sql_copy)
conn.commit()
print("Data loaded into bs_grp1_geo_hierarchy from S3!")

Created table bs_grp1_geo_hierarchy successfully!
Data loaded into bs_grp1_geo_hierarchy from S3!

In [175]:
# CREATE TABLE
sql_create3 = """
CREATE TABLE IF NOT EXISTS bs_grp1_zip_terr (
    ZIP_Code      VARCHAR(10),
    Territory_ID  VARCHAR(50)
);
"""
conn.rollback()
cursor.execute(sql_create3)
conn.commit()
print("Created table bs_grp1_zip_terr successfully!")
# COPY
sql_copy3 = """
COPY bs_grp1_zip_terr
FROM 's3://aws-a9097-use1-00-d-s3b-shrd-shr-data01/raw/Zip_To_Terr.txt'
DELIMITER '|'
IGNOREHEADER 1
REMOVEQUOTES
EMPTYASNULL
BLANKSASNULL
IAM_ROLE 'arn:aws:iam::014498666895:role/service-role/AmazonRedshift-CommandsAccessRole-20240806T150642';
"""
conn.rollback()
cursor.execute(sql_copy3)
conn.commit()
print("Data loaded into bs_grp1_zip_terr from S3!")

Created table bs_grp1_zip_terr successfully!
Data loaded into bs_grp1_zip_terr from S3!

In [176]:

sql_create2 = """
CREATE TABLE IF NOT EXISTS bs_grp1_sales (
    PSBR_ID          VARCHAR(50),
    PROD_ID          VARCHAR(50),
    MONTH_1_NRX_UNIT VARCHAR(50),
    MONTH_2_NRX_UNIT VARCHAR(50),
    MONTH_3_NRX_UNIT VARCHAR(50),
    MONTH_4_NRX_UNIT VARCHAR(50),
    MONTH_5_NRX_UNIT VARCHAR(50),
    MONTH_6_NRX_UNIT VARCHAR(50),
    MONTH_7_NRX_UNIT VARCHAR(50),
    MONTH_8_NRX_UNIT VARCHAR(50),
    MONTH_9_NRX_UNIT VARCHAR(50),
    MONTH_10_NRX_UNIT VARCHAR(50),
    MONTH_11_NRX_UNIT VARCHAR(50),
    MONTH_12_NRX_UNIT VARCHAR(50),
    MONTH_1_NRX_VOL VARCHAR(50),
    MONTH_2_NRX_VOL VARCHAR(50),
    MONTH_3_NRX_VOL VARCHAR(50),
    MONTH_4_NRX_VOL VARCHAR(50),
    MONTH_5_NRX_VOL VARCHAR(50),
    MONTH_6_NRX_VOL VARCHAR(50),
    MONTH_7_NRX_VOL VARCHAR(50),
    MONTH_8_NRX_VOL VARCHAR(50),
    MONTH_9_NRX_VOL VARCHAR(50),
    MONTH_10_NRX_VOL VARCHAR(50),
    MONTH_11_NRX_VOL VARCHAR(50),
    MONTH_12_NRX_VOL VARCHAR(50),
    MONTH_1_NRX_DOLLAR VARCHAR(50),
    MONTH_2_NRX_DOLLAR VARCHAR(50),
    MONTH_3_NRX_DOLLAR VARCHAR(50),
    MONTH_4_NRX_DOLLAR VARCHAR(50),
    MONTH_5_NRX_DOLLAR VARCHAR(50),
    MONTH_6_NRX_DOLLAR VARCHAR(50),
    MONTH_7_NRX_DOLLAR VARCHAR(50),
    MONTH_8_NRX_DOLLAR VARCHAR(50),
    MONTH_9_NRX_DOLLAR VARCHAR(50),
    MONTH_10_NRX_DOLLAR VARCHAR(50),
    MONTH_11_NRX_DOLLAR VARCHAR(50),
    MONTH_12_NRX_DOLLAR VARCHAR(50),
    MONTH_1_RRX_UNIT VARCHAR(50),
    MONTH_2_RRX_UNIT VARCHAR(50),
    MONTH_3_RRX_UNIT VARCHAR(50),
    MONTH_4_RRX_UNIT VARCHAR(50),
    MONTH_5_RRX_UNIT VARCHAR(50),
    MONTH_6_RRX_UNIT VARCHAR(50),
    MONTH_7_RRX_UNIT VARCHAR(50),
    MONTH_8_RRX_UNIT VARCHAR(50),
    MONTH_9_RRX_UNIT VARCHAR(50),
    MONTH_10_RRX_UNIT VARCHAR(50),
    MONTH_11_RRX_UNIT VARCHAR(50),
    MONTH_12_RRX_UNIT VARCHAR(50),
    MONTH_1_RRX_VOL VARCHAR(50),
    MONTH_2_RRX_VOL VARCHAR(50),
    MONTH_3_RRX_VOL VARCHAR(50),
    MONTH_4_RRX_VOL VARCHAR(50),
    MONTH_5_RRX_VOL VARCHAR(50),
    MONTH_6_RRX_VOL VARCHAR(50),
    MONTH_7_RRX_VOL VARCHAR(50),
    MONTH_8_RRX_VOL VARCHAR(50),
    MONTH_9_RRX_VOL VARCHAR(50),
    MONTH_10_RRX_VOL VARCHAR(50),
    MONTH_11_RRX_VOL VARCHAR(50),
    MONTH_12_RRX_VOL VARCHAR(50),
    MONTH_1_RRX_DOLLAR VARCHAR(50),
    MONTH_2_RRX_DOLLAR VARCHAR(50),
    MONTH_3_RRX_DOLLAR VARCHAR(50),
    MONTH_4_RRX_DOLLAR VARCHAR(50),
    MONTH_5_RRX_DOLLAR VARCHAR(50),
    MONTH_6_RRX_DOLLAR VARCHAR(50),
    MONTH_7_RRX_DOLLAR VARCHAR(50),
    MONTH_8_RRX_DOLLAR VARCHAR(50),
    MONTH_9_RRX_DOLLAR VARCHAR(50),
    MONTH_10_RRX_DOLLAR VARCHAR(50),
    MONTH_11_RRX_DOLLAR VARCHAR(50),
    MONTH_12_RRX_DOLLAR VARCHAR(50),
    MONTH_1_TRX_UNIT VARCHAR(50),
    MONTH_2_TRX_UNIT VARCHAR(50),
    MONTH_3_TRX_UNIT VARCHAR(50),
    MONTH_4_TRX_UNIT VARCHAR(50),
    MONTH_5_TRX_UNIT VARCHAR(50),
    MONTH_6_TRX_UNIT VARCHAR(50),
    MONTH_7_TRX_UNIT VARCHAR(50),
    MONTH_8_TRX_UNIT VARCHAR(50),
    MONTH_9_TRX_UNIT VARCHAR(50),
    MONTH_10_TRX_UNIT VARCHAR(50),
    MONTH_11_TRX_UNIT VARCHAR(50),
    MONTH_12_TRX_UNIT VARCHAR(50),
    MONTH_1_TRX_VOL VARCHAR(50),
    MONTH_2_TRX_VOL VARCHAR(50),
    MONTH_3_TRX_VOL VARCHAR(50),
    MONTH_4_TRX_VOL VARCHAR(50),
    MONTH_5_TRX_VOL VARCHAR(50),
    MONTH_6_TRX_VOL VARCHAR(50),
    MONTH_7_TRX_VOL VARCHAR(50),
    MONTH_8_TRX_VOL VARCHAR(50),
    MONTH_9_TRX_VOL VARCHAR(50),
    MONTH_10_TRX_VOL VARCHAR(50),
    MONTH_11_TRX_VOL VARCHAR(50),
    MONTH_12_TRX_VOL VARCHAR(50),
    MONTH_1_TRX_DOLLAR VARCHAR(50),
    MONTH_2_TRX_DOLLAR VARCHAR(50),
    MONTH_3_TRX_DOLLAR VARCHAR(50),
    MONTH_4_TRX_DOLLAR VARCHAR(50),
    MONTH_5_TRX_DOLLAR VARCHAR(50),
    MONTH_6_TRX_DOLLAR VARCHAR(50),
    MONTH_7_TRX_DOLLAR VARCHAR(50),
    MONTH_8_TRX_DOLLAR VARCHAR(50),
    MONTH_9_TRX_DOLLAR VARCHAR(50),
    MONTH_10_TRX_DOLLAR VARCHAR(50),
    MONTH_11_TRX_DOLLAR VARCHAR(50),
    MONTH_12_TRX_DOLLAR VARCHAR(50)

);
"""

conn.rollback()
cursor.execute(sql_create2)
conn.commit()
print("Created table bs_grp1_sales successfully!")
# COPY
sql_copy2 = """
COPY bs_grp1_sales
FROM 's3://aws-a9097-use1-00-d-s3b-shrd-shr-data01/raw/Sales.txt'
DELIMITER '|'
IGNOREHEADER 1
REMOVEQUOTES
EMPTYASNULL
BLANKSASNULL
IAM_ROLE 'arn:aws:iam::014498666895:role/service-role/AmazonRedshift-CommandsAccessRole-20240806T150642';
"""
conn.rollback()
cursor.execute(sql_copy2)
conn.commit()
print("Data loaded into bs_grp1_sales from S3!")

Created table bs_grp1_sales successfully!
Data loaded into bs_grp1_sales from S3!

In [177]:
# CREATE THE TABLE
sql_create = """
CREATE TABLE IF NOT EXISTS bs_grp1_mkt_desc (
    MKT_CD  VARCHAR(10),
    MKT_NM  VARCHAR(200)
);
"""
conn.rollback()
cursor.execute(sql_create)
conn.commit()
print("Created table bs_grp1_mkt_desc successfully!")

# COPY THE TABLE
sql_copy = """
COPY bs_grp1_mkt_desc
FROM 's3://aws-a9097-use1-00-d-s3b-shrd-shr-data01/raw/MarketDefinition.txt'
DELIMITER '|'
IGNOREHEADER 1
REMOVEQUOTES
EMPTYASNULL
BLANKSASNULL
IAM_ROLE 'arn:aws:iam::014498666895:role/service-role/AmazonRedshift-CommandsAccessRole-20240806T150642';
"""
conn.rollback()
cursor.execute(sql_copy)
conn.commit()
print("Data loaded into bs_grp1_mkt_desc from S3!")

Created table bs_grp1_mkt_desc successfully!
Data loaded into bs_grp1_mkt_desc from S3!

In [178]:
sql_create = '''CREATE TABLE IF NOT EXISTS bs_grp1_prod_master(
    MARKET_CD VARCHAR(10),
    PRD_PACK_ID VARCHAR(50),
    PRODUCT_NAME VARCHAR(200),
    IMS_STRENG_TH_LEVEL VARCHAR(50),
    BRAND_ID VARCHAR(50),
    BRAND_NAME VARCHAR(100),
    PROD_MNF VARCHAR(100)
);'''

# Rollback any previous failed transaction
conn.rollback()

# Execute the CREATE TABLE statement
cursor.execute(sql_create)
conn.commit()
print("Successfully created prod_master")

sql_copy = '''
COPY bs_grp1_prod_master
FROM 's3://aws-a9097-use1-00-d-s3b-shrd-shr-data01/raw/Prescriber.txt'
DELIMITER '|'
IGNOREHEADER 1
REMOVEQUOTES
EMPTYASNULL
IAM_ROLE 'arn:aws:iam::014498666895:role/service-role/AmazonRedshift-CommandsAccessRole-20240806T150642'
;
'''


# Rollback any previous failed transaction
conn.rollback()

# Execute the CREATE TABLE statement
cursor.execute(sql_copy)
conn.commit()
print("Data loaded in table")

Successfully created prod_master
Data loaded in table

In [179]:
import pandas as pd

df = pd.read_csv('Sales.txt', sep="|")
col1='PSBR_ID'
# col2='PROD_ID'

duplicates=df.duplicated(subset=[col1] , keep=False)
duplicate_count=duplicates.sum()

is_unique = duplicates.sum()

if is_unique:
    print("uq")
else:
    print("nah")

nah

# CREATING STAGING TABLES

Prescriber (stg_grp1_prescriber)

In [187]:
sql_create = """
CREATE TABLE IF NOT EXISTS stg_grp1_prescriber (
    PRESCRIBER_ID VARCHAR(255) NOT NULL UNIQUE,
    FIRST_NAME VARCHAR(255),
    LAST_NAME VARCHAR(255),
    PREFFERED_NAME VARCHAR(255),
    GENDER VARCHAR(255),
    EMAIL VARCHAR(255),
    PERSON_SPECIALTY VARCHAR(255),
    PRIMARY KEY (PRESCRIBER_ID)
);
"""
conn.rollback()
cursor.execute(sql_create)
conn.commit()
print("Created table stg_grp1_prescriber successfully!")

Created table stg_grp1_prescriber successfully!

Zip_Terr (stg_grp1_zip_terr)

In [247]:
sql_create = """
CREATE TABLE IF NOT EXISTS stg_grp1_zip_terr (
    ZIP_CODE VARCHAR(255) NOT NULL,
    Territory_ID VARCHAR(255) UNIQUE,
    PRIMARY KEY (ZIP_CODE)
);
"""
conn.rollback()
cursor.execute(sql_create)
conn.commit()
print("Created table stg_grp1_zip_terr successfully!")

Created table stg_grp1_zip_terr successfully!

Prescriber_Address (stg_grp1_prescriber_address)

In [248]:
sql_create = """
CREATE TABLE IF NOT EXISTS stg_grp1_prescriber_address (
    PRESCRIBER_ID VARCHAR(255) NOT NULL UNIQUE,
    ADDRESS_1 VARCHAR(255),
    ADDRESS_2 VARCHAR(255),
    CITY VARCHAR(255),
    STATE VARCHAR(255),
    ZIP_CODE VARCHAR(255),
    PRIMARY KEY (PRESCRIBER_ID),
    FOREIGN KEY (ZIP_CODE) REFERENCES stg_grp1_zip_terr(ZIP_CODE),
    FOREIGN KEY (PRESCRIBER_ID) REFERENCES stg_grp1_prescriber(PRESCRIBER_ID)
);
"""
conn.rollback()
cursor.execute(sql_create)
conn.commit()
print("Created table stg_grp1_prescriber_address successfully!")

Created table stg_grp1_prescriber_address successfully!

Mkt_Desc (stg_grp1_mkt_desc)

In [192]:
sql_create = """
CREATE TABLE IF NOT EXISTS stg_grp1_mkt_desc (
    MKT_CD VARCHAR(255) NOT NULL UNIQUE,
    MKT_NM VARCHAR(255),
    PRIMARY KEY (MKT_CD)
);
"""
conn.rollback()
cursor.execute(sql_create)
conn.commit()
print("Created table stg_grp1_mkt_desc successfully!")

Created table stg_grp1_mkt_desc successfully!

ProdMaster (stg_grp1_prod_master)

In [193]:
sql_create = """
CREATE TABLE IF NOT EXISTS stg_grp1_prod_master (
    MKT_CD VARCHAR(255),
    PRD_PACK_ID INT NOT NULL UNIQUE,
    PRODUCT_NAME VARCHAR(255),
    STRENGTH VARCHAR(255),
    BRAND_ID INT,
    Brand_Name VARCHAR(255),
    PROD_MNF VARCHAR(255),
    PRIMARY KEY (PRD_PACK_ID),
    FOREIGN KEY (MKT_CD) REFERENCES stg_grp1_mkt_desc(MKT_CD)
);
"""
conn.rollback()
cursor.execute(sql_create)
conn.commit()
print("Created table stg_grp1_prod_master successfully!")

Created table stg_grp1_prod_master successfully!

Sales (stg_grp1_sales)

In [194]:
sql_create = """
CREATE TABLE IF NOT EXISTS stg_grp1_sales (
    PRESCRIBER_ID VARCHAR(255) NOT NULL,
    PRD_PACK_ID INT NOT NULL,
    MONTH_1_NRX_UNIT INT,
    MONTH_2_NRX_UNIT INT,
    MONTH_3_NRX_UNIT INT,
    MONTH_4_NRX_UNIT INT,
    MONTH_5_NRX_UNIT INT,
    MONTH_6_NRX_UNIT INT,
    MONTH_7_NRX_UNIT INT,
    MONTH_8_NRX_UNIT INT,
    MONTH_9_NRX_UNIT INT,
    MONTH_10_NRX_UNIT INT,
    MONTH_11_NRX_UNIT INT,
    MONTH_12_NRX_UNIT INT,
    MONTH_1_NRX_VOL INT,
    MONTH_2_NRX_VOL INT,
    MONTH_3_NRX_VOL INT,
    MONTH_4_NRX_VOL INT,
    MONTH_5_NRX_VOL INT,
    MONTH_6_NRX_VOL INT,
    MONTH_7_NRX_VOL INT,
    MONTH_8_NRX_VOL INT,
    MONTH_9_NRX_VOL INT,
    MONTH_10_NRX_VOL INT,
    MONTH_11_NRX_VOL INT,
    MONTH_12_NRX_VOL INT,
    MONTH_1_NRX_DOLLAR INT,
    MONTH_2_NRX_DOLLAR INT,
    MONTH_3_NRX_DOLLAR INT,
    MONTH_4_NRX_DOLLAR INT,
    MONTH_5_NRX_DOLLAR INT,
    MONTH_6_NRX_DOLLAR INT,
    MONTH_7_NRX_DOLLAR INT,
    MONTH_8_NRX_DOLLAR INT,
    MONTH_9_NRX_DOLLAR INT,
    MONTH_10_NRX_DOLLAR INT,
    MONTH_11_NRX_DOLLAR INT,
    MONTH_12_NRX_DOLLAR INT,
    MONTH_1_RRX_UNIT INT,
    MONTH_2_RRX_UNIT INT,
    MONTH_3_RRX_UNIT INT,
    MONTH_4_RRX_UNIT INT,
    MONTH_5_RRX_UNIT INT,
    MONTH_6_RRX_UNIT INT,
    MONTH_7_RRX_UNIT INT,
    MONTH_8_RRX_UNIT INT,
    MONTH_9_RRX_UNIT INT,
    MONTH_10_RRX_UNIT INT,
    MONTH_11_RRX_UNIT INT,
    MONTH_12_RRX_UNIT INT,
    MONTH_1_RRX_VOL INT,
    MONTH_2_RRX_VOL INT,
    MONTH_3_RRX_VOL INT,
    MONTH_4_RRX_VOL INT,
    MONTH_5_RRX_VOL INT,
    MONTH_6_RRX_VOL INT,
    MONTH_7_RRX_VOL INT,
    MONTH_8_RRX_VOL INT,
    MONTH_9_RRX_VOL INT,
    MONTH_10_RRX_VOL INT,
    MONTH_11_RRX_VOL INT,
    MONTH_12_RRX_VOL INT,
    MONTH_1_RRX_DOLLAR INT,
    MONTH_2_RRX_DOLLAR INT,
    MONTH_3_RRX_DOLLAR INT,
    MONTH_4_RRX_DOLLAR INT,
    MONTH_5_RRX_DOLLAR INT,
    MONTH_6_RRX_DOLLAR INT,
    MONTH_7_RRX_DOLLAR INT,
    MONTH_8_RRX_DOLLAR INT,
    MONTH_9_RRX_DOLLAR INT,
    MONTH_10_RRX_DOLLAR INT,
    MONTH_11_RRX_DOLLAR INT,
    MONTH_12_RRX_DOLLAR INT,
    MONTH_1_TRX_UNIT INT,
    MONTH_2_TRX_UNIT INT,
    MONTH_3_TRX_UNIT INT,
    MONTH_4_TRX_UNIT INT,
    MONTH_5_TRX_UNIT INT,
    MONTH_6_TRX_UNIT INT,
    MONTH_7_TRX_UNIT INT,
    MONTH_8_TRX_UNIT INT,
    MONTH_9_TRX_UNIT INT,
    MONTH_10_TRX_UNIT INT,
    MONTH_11_TRX_UNIT INT,
    MONTH_12_TRX_UNIT INT,
    MONTH_1_TRX_VOL INT,
    MONTH_2_TRX_VOL INT,
    MONTH_3_TRX_VOL INT,
    MONTH_4_TRX_VOL INT,
    MONTH_5_TRX_VOL INT,
    MONTH_6_TRX_VOL INT,
    MONTH_7_TRX_VOL INT,
    MONTH_8_TRX_VOL INT, 
    MONTH_9_TRX_VOL INT,
    MONTH_10_TRX_VOL INT,
    MONTH_11_TRX_VOL INT,
    MONTH_12_TRX_VOL INT,
    MONTH_1_TRX_DOLLAR INT,
    MONTH_2_TRX_DOLLAR INT,
    MONTH_3_TRX_DOLLAR INT,
    MONTH_4_TRX_DOLLAR INT,
    MONTH_5_TRX_DOLLAR INT,
    MONTH_6_TRX_DOLLAR INT,
    MONTH_7_TRX_DOLLAR INT,
    MONTH_8_TRX_DOLLAR INT,
    MONTH_9_TRX_DOLLAR INT,
    MONTH_10_TRX_DOLLAR INT,
    MONTH_11_TRX_DOLLAR INT,
    MONTH_12_TRX_DOLLAR INT,
    PRIMARY KEY (PRESCRIBER_ID, PRD_PACK_ID),
    FOREIGN KEY (PRESCRIBER_ID) REFERENCES stg_grp1_prescriber(PRESCRIBER_ID),
    FOREIGN KEY (PRD_PACK_ID) REFERENCES stg_grp1_prod_master(PRD_PACK_ID)
);
"""
conn.rollback()
cursor.execute(sql_create)
conn.commit()
print("Created table stg_grp1_sales successfully!")

Created table stg_grp1_sales successfully!

Geo_Hierarchy (stg_grp1_geo_hierarchy)

In [197]:
sql_create = """
CREATE TABLE IF NOT EXISTS stg_grp1_geo_hierarchy (
    GEO_CODE VARCHAR(255) NOT NULL UNIQUE,
    GEO_NAME VARCHAR(255),
    GEO_LEVEL VARCHAR(255),
    PARENT_ID VARCHAR(255),
    PRIMARY KEY (GEO_CODE),
    FOREIGN KEY (GEO_CODE) REFERENCES stg_grp1_zip_terr(territory_id)
);
"""
conn.rollback()
cursor.execute(sql_create)
conn.commit()
print("Created table stg_grp1_geo_hierarchy successfully!")

Created table stg_grp1_geo_hierarchy successfully!

#  DATA QUALITY MANAGMENT CHECKS

PK Check , Duplicate , Null check

Prescriber (bs_grp1_prescriber)

In [203]:
# Check for Primary Key consistency (i.e., unique and non-null PRESCRIBER_ID)
conn.rollback()

cursor.execute("""
    SELECT COUNT(*) 
    FROM bs_grp1_person_profile 
    WHERE PRESCRIBER_ID IS NULL;
""")
null_count = cursor.fetchone()[0]
if null_count > 0:
    print(f"Warning: There are {null_count} NULL values in PRESCRIBER_ID column!")

conn.rollback()
 
cursor.execute("""
    SELECT COUNT(DISTINCT PRESCRIBER_ID) 
    FROM bs_grp1_person_profile;
""")
distinct_count = cursor.fetchone()[0]
conn.rollback()

cursor.execute("""
    SELECT COUNT(PRESCRIBER_ID) 
    FROM bs_grp1_person_profile;
""")
total_count = cursor.fetchone()[0]

if distinct_count != total_count:
    print(f"Warning: There are duplicates in the PRESCRIBER_ID column!")

# Check for duplicates in other columns (First Name, Last Name, etc.)
columns_to_check = ["PRESCRIBER_ID"]
 
for column in columns_to_check:
    cursor.execute(f"""
        SELECT {column}, COUNT(*) 
        FROM bs_grp1_person_profile
        GROUP BY {column}
        HAVING COUNT(*) > 1;
    """)
    duplicates = cursor.fetchall()
    if duplicates:
        print(f"Warning: Duplicates found in {column} column!")
        for row in duplicates:
            print(f"  Duplicate Value: {row[0]} appears {row[1]} times.")

            
print("DQM CHECKS DONE FOR bs_grp1_prescriber")
# Commit the changes if any (rollback used to make sure no change to the table schema)
conn.rollback()

conn.commit()

DQM CHECKS DONE FOR bs_grp1_prescriber

Zip_to_Terr (bs_grp1_zip_terr)

In [209]:
# Check for Primary Key consistency (i.e., unique and non-null ZIP_CODE)
conn.rollback()

cursor.execute("""
    SELECT COUNT(*) 
    FROM bs_grp1_zip_terr
    WHERE ZIP_CODE IS NULL;
""")
null_count = cursor.fetchone()[0]
if null_count > 0:
    print(f"Warning: There are {null_count} NULL values in ZIP_CODE column!")

conn.rollback()

cursor.execute("""
    SELECT COUNT(DISTINCT ZIP_CODE) 
    FROM bs_grp1_zip_terr;
""")
distinct_count = cursor.fetchone()[0]
conn.rollback()

cursor.execute("""
    SELECT COUNT(ZIP_CODE) 
    FROM bs_grp1_zip_terr;
""")
total_count = cursor.fetchone()[0]

if distinct_count != total_count:
    print(f"Warning: There are duplicates in the ZIP_CODE column!")

# Check for duplicates in other columns (Territory_ID)
columns_to_check = ["ZIP_CODE", "Territory_ID"]

for column in columns_to_check:
    cursor.execute(f"""
        SELECT {column}, COUNT(*) 
        FROM bs_grp1_zip_terr
        GROUP BY {column}
        HAVING COUNT(*) > 1;
    """)
    duplicates = cursor.fetchall()
    if duplicates:
        print(f"Warning: Duplicates found in {column} column!")
        for row in duplicates:
            print(f"  Duplicate Value: {row[0]} appears {row[1]} times.")

print("DQM CHECKS DONE FOR bs_grp1_zip_terr")
# Commit the changes if any (rollback used to make sure no change to the table schema)
conn.rollback()

conn.commit()

Warning: Duplicates found in Territory_ID column!
  Duplicate Value: T-111100 appears 81 times.
  Duplicate Value: T-111200 appears 81 times.
  Duplicate Value: T-111300 appears 81 times.
  Duplicate Value: T-111400 appears 81 times.
  Duplicate Value: T-111500 appears 81 times.
  Duplicate Value: T-111600 appears 81 times.
  Duplicate Value: T-111700 appears 81 times.
  Duplicate Value: T-112100 appears 81 times.
  Duplicate Value: T-112200 appears 81 times.
  Duplicate Value: T-112300 appears 81 times.
  Duplicate Value: T-112400 appears 81 times.
  Duplicate Value: T-112500 appears 81 times.
  Duplicate Value: T-112600 appears 81 times.
  Duplicate Value: T-112700 appears 81 times.
  Duplicate Value: T-113100 appears 81 times.
  Duplicate Value: T-113200 appears 81 times.
  Duplicate Value: T-113300 appears 81 times.
  Duplicate Value: T-113400 appears 81 times.
  Duplicate Value: T-113500 appears 81 times.
  Duplicate Value: T-113600 appears 81 times.
  Duplicate Value: T-113700 appears 81 times.
  Duplicate Value: T-114100 appears 81 times.
  Duplicate Value: T-114200 appears 81 times.
  Duplicate Value: T-114300 appears 81 times.
  Duplicate Value: T-114400 appears 81 times.
  Duplicate Value: T-114500 appears 81 times.
  Duplicate Value: T-114600 appears 81 times.
  Duplicate Value: T-114700 appears 81 times.
  Duplicate Value: T-115100 appears 81 times.
  Duplicate Value: T-115200 appears 81 times.
  Duplicate Value: T-115300 appears 81 times.
  Duplicate Value: T-115400 appears 81 times.
  Duplicate Value: T-115500 appears 81 times.
  Duplicate Value: T-115600 appears 81 times.
  Duplicate Value: T-115700 appears 81 times.
  Duplicate Value: T-116100 appears 81 times.
  Duplicate Value: T-116200 appears 81 times.
  Duplicate Value: T-116300 appears 81 times.
  Duplicate Value: T-116400 appears 81 times.
  Duplicate Value: T-116500 appears 81 times.
  Duplicate Value: T-116600 appears 81 times.
  Duplicate Value: T-116700 appears 81 times.
  Duplicate Value: T-117100 appears 81 times.
  Duplicate Value: T-117200 appears 81 times.
  Duplicate Value: T-117300 appears 81 times.
  Duplicate Value: T-117400 appears 81 times.
  Duplicate Value: T-117500 appears 81 times.
  Duplicate Value: T-117600 appears 81 times.
  Duplicate Value: T-117700 appears 81 times.
  Duplicate Value: T-121100 appears 81 times.
  Duplicate Value: T-121200 appears 81 times.
  Duplicate Value: T-121300 appears 81 times.
  Duplicate Value: T-121400 appears 81 times.
  Duplicate Value: T-121500 appears 81 times.
  Duplicate Value: T-121600 appears 81 times.
  Duplicate Value: T-121700 appears 81 times.
  Duplicate Value: T-122100 appears 81 times.
  Duplicate Value: T-122200 appears 81 times.
  Duplicate Value: T-122300 appears 81 times.
  Duplicate Value: T-122400 appears 81 times.
  Duplicate Value: T-122500 appears 81 times.
  Duplicate Value: T-122600 appears 81 times.
  Duplicate Value: T-122700 appears 81 times.
  Duplicate Value: T-123100 appears 81 times.
  Duplicate Value: T-123200 appears 81 times.
  Duplicate Value: T-123300 appears 81 times.
  Duplicate Value: T-123400 appears 81 times.
  Duplicate Value: T-123500 appears 81 times.
  Duplicate Value: T-123600 appears 81 times.
  Duplicate Value: T-123700 appears 81 times.
  Duplicate Value: T-124100 appears 81 times.
  Duplicate Value: T-124200 appears 81 times.
  Duplicate Value: T-124300 appears 81 times.
  Duplicate Value: T-124400 appears 81 times.
  Duplicate Value: T-124500 appears 81 times.
  Duplicate Value: T-124600 appears 81 times.
  Duplicate Value: T-124700 appears 81 times.
  Duplicate Value: T-125100 appears 81 times.
  Duplicate Value: T-125200 appears 81 times.
  Duplicate Value: T-125300 appears 81 times.
  Duplicate Value: T-125400 appears 81 times.
  Duplicate Value: T-125500 appears 81 times.
  Duplicate Value: T-125600 appears 81 times.
  Duplicate Value: T-125700 appears 81 times.
  Duplicate Value: T-126100 appears 81 times.
  Duplicate Value: T-126200 appears 81 times.
  Duplicate Value: T-126300 appears 81 times.
  Duplicate Value: T-126400 appears 81 times.
  Duplicate Value: T-126500 appears 81 times.
  Duplicate Value: T-126600 appears 81 times.
  Duplicate Value: T-126700 appears 81 times.
  Duplicate Value: T-127100 appears 81 times.
  Duplicate Value: T-127200 appears 81 times.
  Duplicate Value: T-127300 appears 81 times.
  Duplicate Value: T-127400 appears 81 times.
  Duplicate Value: T-127500 appears 81 times.
  Duplicate Value: T-127600 appears 81 times.
  Duplicate Value: T-127700 appears 81 times.
  Duplicate Value: T-131100 appears 81 times.
  Duplicate Value: T-131200 appears 81 times.
  Duplicate Value: T-131300 appears 81 times.
  Duplicate Value: T-131400 appears 81 times.
  Duplicate Value: T-131500 appears 81 times.
  Duplicate Value: T-131600 appears 81 times.
  Duplicate Value: T-131700 appears 81 times.
  Duplicate Value: T-132100 appears 81 times.
  Duplicate Value: T-132200 appears 81 times.
  Duplicate Value: T-132300 appears 81 times.
  Duplicate Value: T-132400 appears 81 times.
  Duplicate Value: T-132500 appears 81 times.
  Duplicate Value: T-132600 appears 81 times.
  Duplicate Value: T-132700 appears 81 times.
  Duplicate Value: T-133100 appears 81 times.
  Duplicate Value: T-133200 appears 81 times.
  Duplicate Value: T-133300 appears 81 times.
  Duplicate Value: T-133400 appears 81 times.
  Duplicate Value: T-133500 appears 81 times.
  Duplicate Value: T-133600 appears 81 times.
  Duplicate Value: T-133700 appears 81 times.
  Duplicate Value: T-134100 appears 81 times.
  Duplicate Value: T-134200 appears 81 times.
  Duplicate Value: T-134300 appears 81 times.
  Duplicate Value: T-134400 appears 81 times.
  Duplicate Value: T-134500 appears 81 times.
  Duplicate Value: T-134600 appears 81 times.
  Duplicate Value: T-134700 appears 81 times.
  Duplicate Value: T-135100 appears 81 times.
  Duplicate Value: T-135200 appears 81 times.
  Duplicate Value: T-135300 appears 81 times.
  Duplicate Value: T-135400 appears 81 times.
  Duplicate Value: T-135500 appears 81 times.
  Duplicate Value: T-135600 appears 81 times.
  Duplicate Value: T-135700 appears 81 times.
  Duplicate Value: T-136100 appears 81 times.
  Duplicate Value: T-136200 appears 81 times.
  Duplicate Value: T-136300 appears 81 times.
  Duplicate Value: T-136400 appears 81 times.
  Duplicate Value: T-136500 appears 81 times.
  Duplicate Value: T-136600 appears 81 times.
  Duplicate Value: T-136700 appears 81 times.
  Duplicate Value: T-137100 appears 81 times.
  Duplicate Value: T-137200 appears 81 times.
  Duplicate Value: T-137300 appears 81 times.
  Duplicate Value: T-137400 appears 81 times.
  Duplicate Value: T-137500 appears 81 times.
  Duplicate Value: T-137600 appears 81 times.
  Duplicate Value: T-137700 appears 81 times.
  Duplicate Value: T-141100 appears 81 times.
  Duplicate Value: T-141200 appears 81 times.
  Duplicate Value: T-141300 appears 81 times.
  Duplicate Value: T-141400 appears 81 times.
  Duplicate Value: T-141500 appears 81 times.
  Duplicate Value: T-141600 appears 81 times.
  Duplicate Value: T-141700 appears 81 times.
  Duplicate Value: T-142100 appears 81 times.
  Duplicate Value: T-142200 appears 81 times.
  Duplicate Value: T-142300 appears 81 times.
  Duplicate Value: T-142400 appears 81 times.
  Duplicate Value: T-142500 appears 81 times.
  Duplicate Value: T-142600 appears 81 times.
  Duplicate Value: T-142700 appears 81 times.
  Duplicate Value: T-143100 appears 81 times.
  Duplicate Value: T-143200 appears 81 times.
  Duplicate Value: T-143300 appears 81 times.
  Duplicate Value: T-143400 appears 81 times.
  Duplicate Value: T-143500 appears 81 times.
  Duplicate Value: T-143600 appears 81 times.
  Duplicate Value: T-143700 appears 81 times.
  Duplicate Value: T-144100 appears 81 times.
  Duplicate Value: T-144200 appears 81 times.
  Duplicate Value: T-144300 appears 81 times.
  Duplicate Value: T-144400 appears 81 times.
  Duplicate Value: T-144500 appears 81 times.
  Duplicate Value: T-144600 appears 81 times.
  Duplicate Value: T-144700 appears 81 times.
  Duplicate Value: T-145100 appears 81 times.
  Duplicate Value: T-145200 appears 81 times.
  Duplicate Value: T-145300 appears 81 times.
  Duplicate Value: T-145400 appears 81 times.
  Duplicate Value: T-145500 appears 81 times.
  Duplicate Value: T-145600 appears 81 times.
  Duplicate Value: T-145700 appears 81 times.
  Duplicate Value: T-146100 appears 81 times.
  Duplicate Value: T-146200 appears 81 times.
  Duplicate Value: T-146300 appears 81 times.
  Duplicate Value: T-146400 appears 81 times.
  Duplicate Value: T-146500 appears 81 times.
  Duplicate Value: T-146600 appears 81 times.
  Duplicate Value: T-146700 appears 81 times.
  Duplicate Value: T-147100 appears 81 times.
  Duplicate Value: T-147200 appears 81 times.
  Duplicate Value: T-147300 appears 81 times.
  Duplicate Value: T-147400 appears 81 times.
  Duplicate Value: T-147500 appears 81 times.
  Duplicate Value: T-147600 appears 81 times.
  Duplicate Value: T-147700 appears 81 times.
  Duplicate Value: T-151100 appears 81 times.
  Duplicate Value: T-151200 appears 81 times.
  Duplicate Value: T-151300 appears 81 times.
  Duplicate Value: T-151400 appears 81 times.
  Duplicate Value: T-151500 appears 81 times.
  Duplicate Value: T-151600 appears 81 times.
  Duplicate Value: T-151700 appears 81 times.
  Duplicate Value: T-152100 appears 81 times.
  Duplicate Value: T-152200 appears 81 times.
  Duplicate Value: T-152300 appears 81 times.
  Duplicate Value: T-152400 appears 81 times.
  Duplicate Value: T-152500 appears 81 times.
  Duplicate Value: T-152600 appears 81 times.
  Duplicate Value: T-152700 appears 81 times.
  Duplicate Value: T-153100 appears 81 times.
  Duplicate Value: T-153200 appears 81 times.
  Duplicate Value: T-153300 appears 81 times.
  Duplicate Value: T-153400 appears 81 times.
  Duplicate Value: T-153500 appears 81 times.
  Duplicate Value: T-153600 appears 81 times.
  Duplicate Value: T-153700 appears 81 times.
  Duplicate Value: T-154100 appears 81 times.
  Duplicate Value: T-154200 appears 81 times.
  Duplicate Value: T-154300 appears 81 times.
  Duplicate Value: T-154400 appears 81 times.
  Duplicate Value: T-154500 appears 81 times.
  Duplicate Value: T-154600 appears 81 times.
  Duplicate Value: T-154700 appears 81 times.
  Duplicate Value: T-155100 appears 81 times.
  Duplicate Value: T-155200 appears 81 times.
  Duplicate Value: T-155300 appears 81 times.
  Duplicate Value: T-155400 appears 81 times.
  Duplicate Value: T-155500 appears 81 times.
  Duplicate Value: T-155600 appears 81 times.
  Duplicate Value: T-155700 appears 81 times.
  Duplicate Value: T-156100 appears 81 times.
  Duplicate Value: T-156200 appears 81 times.
  Duplicate Value: T-156300 appears 81 times.
  Duplicate Value: T-156400 appears 81 times.
  Duplicate Value: T-156500 appears 81 times.
  Duplicate Value: T-156600 appears 81 times.
  Duplicate Value: T-156700 appears 81 times.
  Duplicate Value: T-157100 appears 81 times.
  Duplicate Value: T-157200 appears 81 times.
  Duplicate Value: T-157300 appears 81 times.
  Duplicate Value: T-157400 appears 81 times.
  Duplicate Value: T-157500 appears 81 times.
  Duplicate Value: T-157600 appears 81 times.
  Duplicate Value: T-157700 appears 81 times.
DQM CHECKS DONE FOR bs_grp1_zip_terr

In [244]:
import psycopg2

def check_data_quality(conn, table_name, pk_columns, duplicate_columns=None):

    for pk_column in pk_columns:
        cursor.execute(f"""
            SELECT COUNT(*) 
            FROM {table_name} 
            WHERE {pk_column} IS NULL;
        """)
        null_count = cursor.fetchone()[0]
        if null_count > 0:
            print(f"Warning: There are {null_count} NULL values in {pk_column} column!")

    cursor.execute(f"""
        SELECT COUNT(DISTINCT {', '.join(pk_columns)}) 
        FROM {table_name};
    """)
    distinct_count = cursor.fetchone()[0]

    cursor.execute(f"""
        SELECT COUNT({', '.join(pk_columns)}) 
        FROM {table_name};
    """)
    total_count = cursor.fetchone()[0]

    if distinct_count != total_count:
        print(f"Warning: There are duplicates in {', '.join(pk_columns)} column(s)!")

    columns_to_check = duplicate_columns if duplicate_columns else pk_columns
    
    for column in columns_to_check:
        cursor.execute(f"""
            SELECT {column}, COUNT(*) 
            FROM {table_name}
            GROUP BY {column}
            HAVING COUNT(*) > 1;
        """)
        duplicates = cursor.fetchall()
        if duplicates:
            print(f"Warning: Duplicates found in {column} column!")
            for row in duplicates:
                print(f"  Duplicate Value: {row[0]} appears {row[1]} times.")

    print(f"DQM CHECKS DONE FOR {table_name}")
    
    conn.rollback()
    conn.commit()


check_data_quality(
    conn,
    'bs_grp1_person_profile',
    ['PRESCRIBER_ID'],  
    ['PRESCRIBER_ID']  
)
check_data_quality(
    conn,
    'bs_grp1_mkt_desc',
    ['mkt_cd'],  
    ['mkt_cd' , 'mkt_nm']  
)
check_data_quality(
    conn,
    'bs_grp1_prod_master',
    ['prd_pack_id'],
    ['prd_pack_id']
)
check_data_quality(
    conn,
    'bs_grp1_person_address',
    ['person_code'],
    ['person_code']
)

check_data_quality(
    conn,
    'bs_grp1_geo_hierarchy',
    ['geo_code'],
    ['geo_code']
)
check_data_quality(
    conn,
    'bs_grp1_zip_terr',
    ['ZIP_CODE'],
    ['ZIP_CODE']
)

DQM CHECKS DONE FOR bs_grp1_person_profile
DQM CHECKS DONE FOR bs_grp1_mkt_desc
DQM CHECKS DONE FOR bs_grp1_prod_master
DQM CHECKS DONE FOR bs_grp1_person_address
Warning: There are duplicates in geo_code column(s)!
Warning: Duplicates found in geo_code column!
  Duplicate Value: D-111000 appears 2 times.
DQM CHECKS DONE FOR bs_grp1_geo_hierarchy
DQM CHECKS DONE FOR bs_grp1_zip_terr

In [263]:
import psycopg2

def check_composite_key_data_quality(conn, table_name, pk_columns, duplicate_columns=None):
    """
    This function performs data quality checks on the given table for:
    1. NULL values in primary key columns
    2. Duplicates in primary key or other specified columns
    
    :param conn: The connection object to the PostgreSQL database
    :param table_name: The name of the table to check
    :param pk_columns: A list of primary key columns (can be composite key)
    :param duplicate_columns: (Optional) List of columns to check for duplicates (defaults to pk_columns)
    """
    cursor = conn.cursor()
    
    # Ensure the transaction is not in an error state before starting
    try:
        # Step 1: Check for NULL values in primary key columns
        for pk_column in pk_columns:
            cursor.execute(f"""
                SELECT COUNT(*) 
                FROM {table_name} 
                WHERE {pk_column} IS NULL;
            """)
            null_count = cursor.fetchone()[0]
            if null_count > 0:
                print(f"Warning: There are {null_count} NULL values in {pk_column} column!")
        
        # Step 2: Check for duplicates in the combination of primary key columns
        cursor.execute(f"""
            SELECT COUNT(DISTINCT {', '.join(pk_columns)}) 
            FROM {table_name};
        """)
        distinct_count = cursor.fetchone()[0]

        cursor.execute(f"""
            SELECT COUNT({', '.join(pk_columns)}) 
            FROM {table_name};
        """)
        total_count = cursor.fetchone()[0]

        if distinct_count != total_count:
            print(f"Warning: There are duplicates in the composite primary key ({', '.join(pk_columns)})!")

        # Step 3: Check for duplicates in the specified columns (either pk_columns or other provided columns)
        columns_to_check = duplicate_columns if duplicate_columns else pk_columns
        
        for column in columns_to_check:
            cursor.execute(f"""
                SELECT {column}, COUNT(*) 
                FROM {table_name}
                GROUP BY {column}
                HAVING COUNT(*) > 1;
            """)
            duplicates = cursor.fetchall()
            if duplicates:
                print(f"Warning: Duplicates found in {column} column!")
                for row in duplicates:
                    print(f"  Duplicate Value: {row[0]} appears {row[1]} times.")
        
        print(f"DQM CHECKS DONE FOR {table_name}")
    
        # Commit the transaction after the checks
        conn.commit()

    except Exception as e:
        # Rollback if an error occurs
        print(f"Error occurred: {e}")
        conn.rollback()

# Call the function for the 'bs_grp1_sales' table with composite primary key columns
check_composite_key_data_quality(
    conn,
    'bs_grp1_sales',
    ['psbr_id', 'prod_id'],  # Composite primary key columns
    ['psbr_id', 'prod_id']   # Check duplicates based on the composite key
)

Error occurred: function count(character varying, character varying) does not exist
HINT:  No function matches the given name and argument types. You may need to add explicit type casts.

# DATA FROM BASE --> STAGE

Prescriber (stg_grp1_prescriber)

In [204]:
sql_copy = """
INSERT INTO stg_grp1_prescriber (PRESCRIBER_ID, FIRST_NAME, LAST_NAME, PREFFERED_NAME, GENDER, EMAIL, PERSON_SPECIALTY)
SELECT PRESCRIBER_ID, FIRST_NAME, LAST_NAME, PREFFERED_NAME, GENDER, EMAIL, PERSON_SPECIALTY
FROM bs_grp1_person_profile;
"""
conn.rollback()  # Ensure any existing transaction is rolled back
cursor.execute(sql_copy)  # Execute the insert query
conn.commit()  # Commit the changes
print("Data copied from bs_grp1_person_profile to stg_grp1_prescriber successfully!")

Data copied from bs_grp1_person_profile to stg_grp1_prescriber successfully!

In [250]:
sql_copy = """
INSERT INTO stg_grp1_zip_terr (ZIP_CODE, Territory_ID)
SELECT ZIP_CODE, Territory_ID
FROM bs_grp1_zip_terr;
"""
conn.rollback()  # Ensure any existing transaction is rolled back
cursor.execute(sql_copy)  # Execute the insert query
conn.commit()  # Commit the changes
print("Data copied from bs_grp1_zip_terr to stg_grp1_zip_terr successfully!")

Data copied from bs_grp1_zip_terr to stg_grp1_zip_terr successfully!

In [251]:
# SQL query to copy data from bs_grp1_person_address to stg_grp1_prescriber_address
sql_copy = """
INSERT INTO stg_grp1_prescriber_address (PRESCRIBER_ID, ADDRESS_1, ADDRESS_2, CITY, STATE, ZIP_CODE)
SELECT PERSON_CODE, ADDRESS_1, ADDRESS_2, CITY, STATE, ZIP_CODE
FROM bs_grp1_person_address;
"""

# Rollback any active transaction to ensure no incomplete data
conn.rollback()

# Execute the insert query to move data
cursor.execute(sql_copy)

# Commit the changes to finalize the migration
conn.commit()

# Print success message
print("Data copied from bs_grp1_person_address to stg_grp1_prescriber_address successfully!")

Data copied from bs_grp1_person_address to stg_grp1_prescriber_address successfully!

In [252]:
# SQL query to copy data from bs_grp1_mkt_desc to stg_grp1_mkt_desc
sql_copy = """
INSERT INTO stg_grp1_mkt_desc (MKT_CD, MKT_NM)
SELECT MKT_CD, MKT_NM
FROM bs_grp1_mkt_desc;
"""

# Rollback any active transaction to ensure no incomplete data
conn.rollback()

# Execute the insert query to move data
cursor.execute(sql_copy)

# Commit the changes to finalize the migration
conn.commit()

# Print success message
print("Data copied from bs_grp1_mkt_desc to stg_grp1_mkt_desc successfully!")

Data copied from bs_grp1_mkt_desc to stg_grp1_mkt_desc successfully!

In [256]:
# SQL query to copy data from bs_grp1_prod_master to stg_grp1_prod_master
# SQL query to copy data from bs_grp1_prod_master to stg_grp1_prod_master
# SQL query to copy data from bs_grp1_prod_master to stg_grp1_prod_master with casting
sql_copy = """
INSERT INTO stg_grp1_prod_master (MKT_CD, PRD_PACK_ID, PRODUCT_NAME, STRENGTH, BRAND_ID, Brand_Name, PROD_MNF)
SELECT MARKET_CD, 
       CAST(PRD_PACK_ID AS INT),  
       PRODUCT_NAME, 
       IMS_STRENGTH_LEVEL, 
       CAST(BRAND_ID AS INT),
       BRAND_NAME, 
       PROD_MNF
FROM bs_grp1_prod_master;
"""



# Rollback any active transaction to ensure no incomplete data
conn.rollback()

# Execute the insert query to move data
cursor.execute(sql_copy)
# Commit the changes to finalize the migration
conn.commit()

# Print success message
print("Data copied from bs_grp1_prod_master to stg_grp1_prod_master successfully!")

Data copied from bs_grp1_prod_master to stg_grp1_prod_master successfully!

In [257]:
# SQL query to copy data from bs_grp1_geo_hierarchy to stg_grp1_geo_hierarchy
# Casting is applied where needed
sql_copy = """
INSERT INTO stg_grp1_geo_hierarchy (GEO_CODE, GEO_NAME, GEO_LEVEL, PARENT_ID)
SELECT GEO_CODE, 
       GEO_NAME, 
       GEO_LEVEL, 
       PARENT_ID
FROM bs_grp1_geo_hierarchy;
"""

# Rollback any active transaction to ensure no incomplete data
conn.rollback()

# Execute the insert query to move data
cursor.execute(sql_copy)

# Commit the changes to finalize the migration
conn.commit()

# Print success message
print("Data copied from bs_grp1_geo_hierarchy to stg_grp1_geo_hierarchy successfully!")

Data copied from bs_grp1_geo_hierarchy to stg_grp1_geo_hierarchy successfully!

In [258]:
# SQL query to copy data from bs_grp1_sales to stg_grp1_sales with casting
sql_copy = """
INSERT INTO stg_grp1_sales (
    PRESCRIBER_ID, 
    PRD_PACK_ID, 
    MONTH_1_NRX_UNIT, MONTH_2_NRX_UNIT, MONTH_3_NRX_UNIT, MONTH_4_NRX_UNIT, MONTH_5_NRX_UNIT, MONTH_6_NRX_UNIT, 
    MONTH_7_NRX_UNIT, MONTH_8_NRX_UNIT, MONTH_9_NRX_UNIT, MONTH_10_NRX_UNIT, MONTH_11_NRX_UNIT, MONTH_12_NRX_UNIT, 
    MONTH_1_NRX_VOL, MONTH_2_NRX_VOL, MONTH_3_NRX_VOL, MONTH_4_NRX_VOL, MONTH_5_NRX_VOL, MONTH_6_NRX_VOL, 
    MONTH_7_NRX_VOL, MONTH_8_NRX_VOL, MONTH_9_NRX_VOL, MONTH_10_NRX_VOL, MONTH_11_NRX_VOL, MONTH_12_NRX_VOL, 
    MONTH_1_NRX_DOLLAR, MONTH_2_NRX_DOLLAR, MONTH_3_NRX_DOLLAR, MONTH_4_NRX_DOLLAR, MONTH_5_NRX_DOLLAR, 
    MONTH_6_NRX_DOLLAR, MONTH_7_NRX_DOLLAR, MONTH_8_NRX_DOLLAR, MONTH_9_NRX_DOLLAR, MONTH_10_NRX_DOLLAR, 
    MONTH_11_NRX_DOLLAR, MONTH_12_NRX_DOLLAR, MONTH_1_RRX_UNIT, MONTH_2_RRX_UNIT, MONTH_3_RRX_UNIT, 
    MONTH_4_RRX_UNIT, MONTH_5_RRX_UNIT, MONTH_6_RRX_UNIT, MONTH_7_RRX_UNIT, MONTH_8_RRX_UNIT, MONTH_9_RRX_UNIT, 
    MONTH_10_RRX_UNIT, MONTH_11_RRX_UNIT, MONTH_12_RRX_UNIT, MONTH_1_RRX_VOL, MONTH_2_RRX_VOL, MONTH_3_RRX_VOL, 
    MONTH_4_RRX_VOL, MONTH_5_RRX_VOL, MONTH_6_RRX_VOL, MONTH_7_RRX_VOL, MONTH_8_RRX_VOL, MONTH_9_RRX_VOL, 
    MONTH_10_RRX_VOL, MONTH_11_RRX_VOL, MONTH_12_RRX_VOL, MONTH_1_RRX_DOLLAR, MONTH_2_RRX_DOLLAR, 
    MONTH_3_RRX_DOLLAR, MONTH_4_RRX_DOLLAR, MONTH_5_RRX_DOLLAR, MONTH_6_RRX_DOLLAR, MONTH_7_RRX_DOLLAR, 
    MONTH_8_RRX_DOLLAR, MONTH_9_RRX_DOLLAR, MONTH_10_RRX_DOLLAR, MONTH_11_RRX_DOLLAR, MONTH_12_RRX_DOLLAR, 
    MONTH_1_TRX_UNIT, MONTH_2_TRX_UNIT, MONTH_3_TRX_UNIT, MONTH_4_TRX_UNIT, MONTH_5_TRX_UNIT, MONTH_6_TRX_UNIT, 
    MONTH_7_TRX_UNIT, MONTH_8_TRX_UNIT, MONTH_9_TRX_UNIT, MONTH_10_TRX_UNIT, MONTH_11_TRX_UNIT, MONTH_12_TRX_UNIT, 
    MONTH_1_TRX_VOL, MONTH_2_TRX_VOL, MONTH_3_TRX_VOL, MONTH_4_TRX_VOL, MONTH_5_TRX_VOL, MONTH_6_TRX_VOL, 
    MONTH_7_TRX_VOL, MONTH_8_TRX_VOL, MONTH_9_TRX_VOL, MONTH_10_TRX_VOL, MONTH_11_TRX_VOL, MONTH_12_TRX_VOL, 
    MONTH_1_TRX_DOLLAR, MONTH_2_TRX_DOLLAR, MONTH_3_TRX_DOLLAR, MONTH_4_TRX_DOLLAR, MONTH_5_TRX_DOLLAR, 
    MONTH_6_TRX_DOLLAR, MONTH_7_TRX_DOLLAR, MONTH_8_TRX_DOLLAR, MONTH_9_TRX_DOLLAR, MONTH_10_TRX_DOLLAR, 
    MONTH_11_TRX_DOLLAR, MONTH_12_TRX_DOLLAR)
SELECT 
    PSBR_ID, 
    CAST(PROD_ID AS INT),  -- Cast PROD_ID as INT
    CAST(MONTH_1_NRX_UNIT AS INT), CAST(MONTH_2_NRX_UNIT AS INT), CAST(MONTH_3_NRX_UNIT AS INT), CAST(MONTH_4_NRX_UNIT AS INT),
    CAST(MONTH_5_NRX_UNIT AS INT), CAST(MONTH_6_NRX_UNIT AS INT), CAST(MONTH_7_NRX_UNIT AS INT), CAST(MONTH_8_NRX_UNIT AS INT),
    CAST(MONTH_9_NRX_UNIT AS INT), CAST(MONTH_10_NRX_UNIT AS INT), CAST(MONTH_11_NRX_UNIT AS INT), CAST(MONTH_12_NRX_UNIT AS INT),
    CAST(MONTH_1_NRX_VOL AS INT), CAST(MONTH_2_NRX_VOL AS INT), CAST(MONTH_3_NRX_VOL AS INT), CAST(MONTH_4_NRX_VOL AS INT),
    CAST(MONTH_5_NRX_VOL AS INT), CAST(MONTH_6_NRX_VOL AS INT), CAST(MONTH_7_NRX_VOL AS INT), CAST(MONTH_8_NRX_VOL AS INT),
    CAST(MONTH_9_NRX_VOL AS INT), CAST(MONTH_10_NRX_VOL AS INT), CAST(MONTH_11_NRX_VOL AS INT), CAST(MONTH_12_NRX_VOL AS INT),
    CAST(MONTH_1_NRX_DOLLAR AS INT), CAST(MONTH_2_NRX_DOLLAR AS INT), CAST(MONTH_3_NRX_DOLLAR AS INT), 
    CAST(MONTH_4_NRX_DOLLAR AS INT), CAST(MONTH_5_NRX_DOLLAR AS INT), CAST(MONTH_6_NRX_DOLLAR AS INT), 
    CAST(MONTH_7_NRX_DOLLAR AS INT), CAST(MONTH_8_NRX_DOLLAR AS INT), CAST(MONTH_9_NRX_DOLLAR AS INT), 
    CAST(MONTH_10_NRX_DOLLAR AS INT), CAST(MONTH_11_NRX_DOLLAR AS INT), CAST(MONTH_12_NRX_DOLLAR AS INT),
    CAST(MONTH_1_RRX_UNIT AS INT), CAST(MONTH_2_RRX_UNIT AS INT), CAST(MONTH_3_RRX_UNIT AS INT), 
    CAST(MONTH_4_RRX_UNIT AS INT), CAST(MONTH_5_RRX_UNIT AS INT), CAST(MONTH_6_RRX_UNIT AS INT),
    CAST(MONTH_7_RRX_UNIT AS INT), CAST(MONTH_8_RRX_UNIT AS INT), CAST(MONTH_9_RRX_UNIT AS INT), 
    CAST(MONTH_10_RRX_UNIT AS INT), CAST(MONTH_11_RRX_UNIT AS INT), CAST(MONTH_12_RRX_UNIT AS INT),
    CAST(MONTH_1_RRX_VOL AS INT), CAST(MONTH_2_RRX_VOL AS INT), CAST(MONTH_3_RRX_VOL AS INT),
    CAST(MONTH_4_RRX_VOL AS INT), CAST(MONTH_5_RRX_VOL AS INT), CAST(MONTH_6_RRX_VOL AS INT),
    CAST(MONTH_7_RRX_VOL AS INT), CAST(MONTH_8_RRX_VOL AS INT), CAST(MONTH_9_RRX_VOL AS INT),
    CAST(MONTH_10_RRX_VOL AS INT), CAST(MONTH_11_RRX_VOL AS INT), CAST(MONTH_12_RRX_VOL AS INT),
    CAST(MONTH_1_RRX_DOLLAR AS INT), CAST(MONTH_2_RRX_DOLLAR AS INT), CAST(MONTH_3_RRX_DOLLAR AS INT),
    CAST(MONTH_4_RRX_DOLLAR AS INT), CAST(MONTH_5_RRX_DOLLAR AS INT), CAST(MONTH_6_RRX_DOLLAR AS INT),
    CAST(MONTH_7_RRX_DOLLAR AS INT), CAST(MONTH_8_RRX_DOLLAR AS INT), CAST(MONTH_9_RRX_DOLLAR AS INT),
    CAST(MONTH_10_RRX_DOLLAR AS INT), CAST(MONTH_11_RRX_DOLLAR AS INT), CAST(MONTH_12_RRX_DOLLAR AS INT),
    CAST(MONTH_1_TRX_UNIT AS INT), CAST(MONTH_2_TRX_UNIT AS INT), CAST(MONTH_3_TRX_UNIT AS INT),
    CAST(MONTH_4_TRX_UNIT AS INT), CAST(MONTH_5_TRX_UNIT AS INT), CAST(MONTH_6_TRX_UNIT AS INT),
    CAST(MONTH_7_TRX_UNIT AS INT), CAST(MONTH_8_TRX_UNIT AS INT), CAST(MONTH_9_TRX_UNIT AS INT),
    CAST(MONTH_10_TRX_UNIT AS INT), CAST(MONTH_11_TRX_UNIT AS INT), CAST(MONTH_12_TRX_UNIT AS INT),
    CAST(MONTH_1_TRX_VOL AS INT), CAST(MONTH_2_TRX_VOL AS INT), CAST(MONTH_3_TRX_VOL AS INT),
    CAST(MONTH_4_TRX_VOL AS INT), CAST(MONTH_5_TRX_VOL AS INT), CAST(MONTH_6_TRX_VOL AS INT),
    CAST(MONTH_7_TRX_VOL AS INT), CAST(MONTH_8_TRX_VOL AS INT), CAST(MONTH_9_TRX_VOL AS INT),
    CAST(MONTH_10_TRX_VOL AS INT), CAST(MONTH_11_TRX_VOL AS INT), CAST(MONTH_12_TRX_VOL AS INT),
    CAST(MONTH_1_TRX_DOLLAR AS INT), CAST(MONTH_2_TRX_DOLLAR AS INT), CAST(MONTH_3_TRX_DOLLAR AS INT),
    CAST(MONTH_4_TRX_DOLLAR AS INT), CAST(MONTH_5_TRX_DOLLAR AS INT), CAST(MONTH_6_TRX_DOLLAR AS INT),
    CAST(MONTH_7_TRX_DOLLAR AS INT), CAST(MONTH_8_TRX_DOLLAR AS INT), CAST(MONTH_9_TRX_DOLLAR AS INT),
    CAST(MONTH_10_TRX_DOLLAR AS INT), CAST(MONTH_11_TRX_DOLLAR AS INT), CAST(MONTH_12_TRX_DOLLAR AS INT)
FROM bs_grp1_sales;
"""

# Rollback any active transaction to ensure no incomplete data
conn.rollback()

# Execute the insert query to move data
cursor.execute(sql_copy)

# Commit the changes to finalize the migration
conn.commit()

# Print success message
print("Data copied from bs_grp1_sales to stg_grp1_sales successfully!")

Data copied from bs_grp1_sales to stg_grp1_sales successfully!

# FACT AND DIM TABLE CREATION